body {
    background-color:rgb(63, 63, 63);
    color:#fff;
    font-family:Verdana,Geneva,Tahoma,sans-serif;margin:0;
    padding:0;
}
.gameContainer {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
    height:100vh;
    width:100vw
}
canvas {
    /* border:8px double rgb(34, 47, 92); */
    background-color:#437eb9;
}
.btns {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    margin:0 auto;
    width:100%
}
button {
    background-color:#63ce6a;
    border-radius:4px;
    border: none;
    font-family:inherit;
    margin:0;
    padding:10px 20px;
    width:100px
}
button:not(:last-child) {
    margin-right:10px
}
.messages {
    display:flex;
    flex-wrap:wrap;
    margin:0 auto;
    width:80%;
    max-width:460px
}
p {
    display:block;
    margin:0;
    width:100%
}

@media(max-width:440px) {
    button {
        margin-top:25px
    }
    #up,#down {
        margin-left:100%;
        margin-right:100%
    }
}