body {
    background-color:rgb(63, 63, 63);
    color:#fff;
    font-family:Verdana,Geneva,Tahoma,sans-serif;margin:0;
    padding:0;
}
.gameContainer {
    display:flex;
    margin: 2% 0;
    place-content:center;
    place-items: center;
    flex-wrap:wrap;
    height:auto;
    width: 100%;
}
canvas {
    border:8px double #edd400;
    background-color:#2e2e2e;
}
.btns {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    margin:0 auto;
    width:100%
}
button {
    background-color:#edd400;
    border-radius:4px;
    border: none;
    font-family:inherit;
    margin:20px 0;
    padding:10px 20px;
    width:100px
}
button:not(:last-child) {
    margin-right:10px
}
.messages {
    display:flex;
    flex-wrap:wrap;
    margin:0 auto;
    width:80%;
    max-width:460px
}
p {
    display:block;
    margin:0;
    width:100%
}

@media(max-width:440px) {
    button {
        margin: 5px;
    }
    #up,#down {
        margin-left:100%;
        margin-right:100%
    }
}